<div class="star-rating-container" [class]="getSizeClass()">
  <div class="stars-wrapper"
    (mouseleave)="onMouseLeave()">
    @for (star of stars; track star; let i = $index) {
      <ion-button
        fill="clear"
        size="small"
        class="star-button"
        [class.readonly]="readonly"
        [class.hovered]="hoveredRating > 0 && i < hoveredRating"
        [class.filled]="isStarFilled(i)"
        (click)="onStarClick(i)"
        (mouseenter)="onStarHover(i)"
        [disabled]="readonly"
        >
        <ion-icon
          [name]="isStarFilled(i) ? 'star' : 'star-outline'"
          slot="icon-only"
        ></ion-icon>
      </ion-button>
    }
  </div>

  @if (rating > 0) {
    <span class="rating-text">
      {{ rating }}/{{ maxStars }}
    </span>
  }
</div>
