<ion-modal [isOpen]="isOpen" (didDismiss)="closeModal()">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Choose Theme</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="closeModal()" fill="clear">
            <ion-icon name="close"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    
    <ion-content class="theme-modal-content">
      <div class="theme-selector">
        <div class="theme-buttons">
          <button 
            *ngFor="let theme of themes" 
            class="theme-btn" 
            [class]="theme.value"
            (click)="selectTheme(theme.value)" 
            [class.active]="currentTheme === theme.value">
            <span 
              class="theme-preview" 
              [style.background]="theme.previewGradient">
            </span>
            {{ theme.name }}
          </button>
        </div>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>
