<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Tutorial Details</ion-title>
  </ion-toolbar>
</ion-header>

 <ion-item *ngIf="isLoading">
  <ion-label>Loading...</ion-label>
  <ion-spinner name="lines-sharp"></ion-spinner>
</ion-item>

<ion-content [fullscreen]="true">
  <ion-accordion-group>
    <ion-accordion *ngFor="let item of poojaRules" [value]="item.value">
      <ion-item slot="header" color="light">
        <ion-label style="font-weight: 700;">{{ item.heading }}</ion-label>
      </ion-item>
     <div class="ion-padding" slot="content" [innerHTML]="sanitizeContent(item.content)"></div>
    </ion-accordion>
  </ion-accordion-group>
</ion-content>
