<ion-header [translucent]="true">
  <ion-toolbar>
     <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Lord Krishna</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="krishna-content">
  

  <div class="promo-card">
    <img src="https://res.cloudinary.com/dbmkctsda/image/upload/v1751499823/balakrishna_i8eykp.jpg" alt="Krishna" />
    <div class="promo-content">
      <ion-badge color="danger" class="promo-badge">Dear Devotee !</ion-badge>
      <div class="promo-title">Could you establish me at<br />your <span class="highlight">Heart?</span></div>
    </div>
  </div>

  <div class="krishna-tabs">
    <ion-segment value="all">
      <ion-segment-button value="all">
        <ion-label>Krishna Lila</ion-label>
      </ion-segment-button>
      <ion-segment-button value="child">
        <ion-label>Why Krishna?</ion-label>
      </ion-segment-button>
      <ion-segment-button value="youth">
        <ion-label>How to attain?</ion-label>
      </ion-segment-button>
      <ion-segment-button value="leela">
        <ion-label>what should I do?</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>

  <div class="krishna-card-list">
    <ion-grid>
      <ion-row>
        <ion-col  *ngFor="let item of krishnaItems">
          <div class="krishna-card">
            <img [src]="item.img" [alt]="item.title" />
            <div class="krishna-card-rating">
              <ion-icon name="star"></ion-icon>
              <span>{{ item.rating }}</span>
            </div>
            <div class="krishna-card-title">{{ item.title }}</div>
            <div class="krishna-card-desc">{{ item.desc }}</div>
            <div class="krishna-card-footer">
              <div class="krishna-price">{{ item.price }}</div>
              <ion-button size="small" fill="clear" shape="round" class="add-btn">
                <ion-icon name="add"></ion-icon>
              </ion-button>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>

<ion-footer class="krishna-footer">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon name="home" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons>
      <ion-button>
        <ion-icon name="heart-outline" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="cafe-outline" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="person-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>