:host {
  align-items: flex-start;
  font-size: 1.1rem;
}
:host {
    background: linear-gradient(to bottom, #162447 0%, #1f4068 100%);
}
.location-block {
  display: flex;
  flex-direction: column;
  .location-label {
    font-size: 0.9rem;
    color: #aaa;
    margin-bottom: 2px;
  }
  .location-value {
    font-weight: bold;
    color: #fff;
    font-size: 1.1rem;
  }
}

ion-buttons{
    justify-content: space-evenly;
}

.krishna-content {
  --background: var(--primary-bg);
  padding: 0 0 80px 0;
}

.krishna-tabs {
    overflow-x: auto;
    white-space: nowrap;
    padding: 0 10px;

    ion-segment {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    overflow-x: auto;
    white-space: nowrap;
    --background: transparent;
    min-width: 100%;

        ion-segment-button {
            flex: 0 0 auto;
            // min-width: 120px;
            // margin-right: 8px;
            color: wheat;
            white-space: nowrap;
        }
    }
}

.search-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  margin: 18px 18px 0 18px;
  .filter-btn {
    background: var(--primary-brown);
    color: #fff;
    border-radius: 16px;
    min-width: 44px;
    min-height: 44px;
  }
  ion-searchbar {
    --background: #eee;
    --box-shadow: none;
    --border-radius: 15px;
    flex: 1 1 auto;
    margin-right: 0;
  }
}

.promo-card {
  position: relative;
  height: 140px;
  border-radius: var(--radius);
  overflow: hidden;
  background: var(--primary-brown);
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.70;
    position: absolute;
    left: 0; top: 0;
    z-index: 1;
  }
  .promo-content {
    position: absolute;
    z-index: 2;
    left: 20px; top: 22px;
    color: #fff;
    .promo-badge {
      font-size: 0.7rem;
      margin-bottom: 10px;
      padding: 3px 12px;
      border-radius: 8px;
      background: #d9534f;
}
  }
}

