<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>User Registration</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="form-container">
    <img src="../../assets/krishna.jpg" alt="App Logo" class="app-logo" />
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <ion-item>
        <ion-label position="floating">Your Name</ion-label>
        <ion-input formControlName="name"></ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="registerForm.get('name')?.touched && registerForm.get('name')?.hasError('required')">
        Name is required.
      </ion-text>

      <ion-item>
        <ion-label position="floating">Phone</ion-label>
        <ion-input type="tel" formControlName="phone"></ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="registerForm.get('phone')?.touched && registerForm.get('phone')?.hasError('required')">
        Phone is required.
      </ion-text>

      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.hasError('required')">
        Email is required.
      </ion-text>
      <ion-text color="danger" *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.hasError('email')">
        Enter a valid email.
      </ion-text>

      <ion-item>
        <ion-label position="floating">Address</ion-label>
        <ion-textarea formControlName="address"></ion-textarea>
      </ion-item>
      <ion-text color="danger" *ngIf="registerForm.get('address')?.touched && registerForm.get('address')?.hasError('required')">
        Address is required.
      </ion-text>

      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="registerForm.get('password')?.touched && registerForm.get('password')?.hasError('required')">
        Password is required.
      </ion-text>
      <ion-text color="danger" *ngIf="registerForm.get('password')?.touched && registerForm.get('password')?.hasError('minlength')">
        Password must be at least 6 characters long.
      </ion-text>

      <ion-button expand="full" type="submit" [disabled]="!registerForm.valid">Register</ion-button>
      <div class="signup-link">
        <p>Already have an account? <a href="/login">Login</a>.</p>
      </div>
    </form>
  </div>
</ion-content>

